<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{isLogin ? 'Login' : 'Sign Up'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="12">
          <ion-list class="ion-margin-top">
            <ion-item>
              <ion-label position="floating"> E-mail </ion-label>
              <ion-input
                ngModel
                name="email"
                type="email"
                required
                #emailController="ngModel"
              ></ion-input>
              <ion-item *ngIf="!emailController.valid && emailController.touched">
                <ion-label
                  *ngIf="!emailController.valid && emailController.touched"
                  lines="none"
                >
                  Should be valid e-mail address.
                </ion-label>
              </ion-item>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="4"
                #passwordController="ngModel"
              ></ion-input>
              <ion-item *ngIf="!passwordController.valid && passwordController.touched">
                <ion-label
                  *ngIf="!passwordController.valid && passwordController.touched"
                  lines="none"
                >
                  Password should be last 6 characteres.
                </ion-label>
              </ion-item>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="6">
          <ion-button
            color="primary"
            fill="clear"
            expand="block"
            type="button"
            (click)="onSwitchAuthMode()"
            >Switch to {{isLogin ? 'Sign Up': 'Login'}}</ion-button
          >
          <ion-button
            color="primary"
            type="submit"
            (click)="onLogin()"
            expand="block"
            [disabled]="!f.valid"
            >Login</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
