<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"> </ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('title')?.valid && form.get('title')?.touched">
        <ion-col>
          <p>The title can not be empty.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="!form.get('description')?.valid && form.get('description')?.touched"
      >
        <ion-col>
          <p>Description must not be longer then 180 characteres.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('price')?.valid && form.get('price')?.touched">
        <ion-col>
          <p>The price must be grather then $1.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3" offsetSm="3">
          <ion-item>
            <ion-label position="stacked">Available From</ion-label>
            <ion-input
              type="date"
              min="2023-01-01"
              max="2050-12-31"
              formControlName="dateFrom"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3" offsetSm="3">
          <ion-item>
            <ion-label position="stacked">Available to</ion-label>
            <ion-input
              type="date"
              min="2023-01-02"
              max="2051-01-01"
              formControlName="dateTo"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button
        color="primary"
        type="submit"
        expand="block"
        *ngIf="form.valid"
        >Submit</ion-button
      >
    </ion-grid>
  </form>
</ion-content>
